<html>
	<head>
		<title>How to use this website</title>
	</head>
	<body>
		<h1>How to use this website.</h1>
		<p>Baba Ijebu online is a very simple site to use. Simply buy a ticket from a kiosk around you.
		</p>
		<p>Enter your number at BabaIjebuOnline.com and it takes you to the game area</p>
		<p>Enter your guess there and click "Guess!" and you'll see the result immediately. Good luck !!!
		</p>
	</body>
</html>	